body {
 background-color: white;  
 position:center ; 
 align-items: center; 
 display:absolute;
 height: 50vh;
}
h1{
    font-size:larger ;
    color: black;
}
.container{
    background: grey;
    
}